doctype html
extends layout



block content
  h1=title

  h2
    a(href='/') page d'accueil

  h3
    a(href='/allaitements') retour à la liste des têtées

  h3 Ajouter une têtée :
  form#formAddAllaitement(name="addallaitement", method="post",action="/allaitements")
    p Sein:
      input#inputSein(type="text", placeholder="gauche ou droit", name="sein")
    p Durée:
      input#inputDuree(type="number", placeholde="durée en minute", name="duree")
    p Date:
      input#inputDob(type="date", name="dob")
    p
      button#btnSubmit(type="submit") valider
