doctype html
extends layout



block content

  h1=title

    h2
      a(href='/') page d'accueil

    h3
      a(href='/biberons') retour à la liste des biberons

  h3 Ajouter un biberon :
  form#formAddBiberon(name="addbiberon", required="true", method="post",action="/biberons")
    p Quantite:
      input#inputQuantite(type="number", placeholder="120", name="quantite")
    p Date:
      input#inputDob(type="date", name="dob")
    p
      button#btnSubmit(type="submit") valider
