doctype html
extends layout



block content
  h1= title

  h2
    a(href='/') page d'accueil


  h2 Liste des biberons :
  div(ng-controller='BiberonController')
    ul
      li(ng-repeat="bib in biberon")
        | Date : {{bib.date}}
        br
        | heure : {{bib.heure}}
        br
        | Quantite : {{bib.quantite}}
        br

  p Ajouter un biberons :
  a(href="/biberons/add") Ajouter un biberon
