doctype html
extends layout

h1= title

p liste de biberons :

  div(ng-controller='ListeCourses')
    ul
      li(ng-repeat="course in liste")
        input(type='checkbox', ng-model='course.done')
        span(class='done-{{course.done}}')
          {{course.text}}
