doctype html
extends layout


block content
  h1= title
  p Welcome to #{title}

    p #{"Hello Selassie !"}

  div
    a(href="/biberons") liste de biberons
    br
    a(href="/allaitements") liste des têtées
    br
    a(href="/repas") liste des repas solides
    br
